.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(231, 220, 220);
    border-bottom-width: 1px;
    border-bottom-style: solid; 
  }
  .wanderlust {
    margin-top: 27px;
    margin-left: 200px;
  }
  .middle-section {
    font-size: 23px;
    display: flex;
    flex-direction: row;
    margin-right: 120px;
    align-items: center;
    justify-content: space-between;
    color: lightblack;
    text-underline-offset: unset;
    opacity: .7;
  }
  .destination {
    margin-left: 130px;
  }
  .destination:hover, .experience:hover, .about:hover, .contact:hover {
    color: green;
  }
  .destination, .experience, .about, .contact {
    margin-right: 100px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
  }
  .right-section {
    margin-top: 27px;
    margin-right: 150px;
  }.sign-in {
    font-size: 23px;
    width: 120px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(128, 126, 126);
  }
  .sign-in:hover {
    background-color: rgba(237, 237, 59, 0.838);
  }